<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>EAUTH DEMO</title>
    {% block stylesheets %}
        <link href="{{ asset('/css/style.css') }}" type="text/css" rel="stylesheet"/>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block javascripts %}
    <script src="{{ asset('/js/jquery.min.js') }}"></script>
    <script src="{{ asset('/js/main.js') }}"></script>
{% endblock %}
<h1>EAUTH DEMO</h1><br>
<form method="post" id="auth">
    <div class="text">Insert your login</div>
    <input id="login" name="login" class="input" type="text">
    <p></p>
    <div class="text">Insert your password</div>
    <input id="password" name="password" class="input" type="password"><br>
    <p></p>
    <button id="button" class="button" type="button" onclick="authenticate()">Send your credentials</button>
    <br>
    <div class="smalltext">There is no registration in DEMO app.</div>
    <div class="smalltext">First you should insert your USERNAME and PASSWORD, then push SEND button.</div>
    <div class="smalltext">Allowed chars: "0123456789abcdefghijklmnopqrstuvwxyz".</div>
</form>
{% block output %}{% endblock %}
</body>
</html>
